/* Geral */
* {
  box-sizing: border-box;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
.titulo {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}
.btnFundoWhite {
  border: 5px solid #000;
  margin-top: 10px;
  padding: 10px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: .1em;
  background: none;
}
.btnFundoWhite:hover {
  color: #174B7F;
  border: 5px solid #174B7F;
}
.btnFundoPreto {
  border: 5px solid #fff;
  margin-top: 10px;
  padding: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: .1em;
  background: none;
}
.btnFundoPreto:hover {
  color: #000;
  border: 5px solid #000;
}
/* Menu */
.menu {
  display: flex;
  background: #000;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
.menu ul li {
  display: inline-block;
  margin: 20px 5px;
}
.menu ul li a {
  padding: 15px;
  color: #fff;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
}
.menu ul li a:hover{
  background: #fff;
  color: #000;
  border-radius: 3px;
}

/* IntroHome */
.introHome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  height: 300px;
  background: url("../images/bgHome.png") no-repeat center;
  background-size: cover;
}
.introHome img{
  width: auto;
}
.introHome div {
  width: 90%;
  padding: 0 5%;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}
.introHome div h1 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #fff;
}
.introHome div p {
  width: 70%;
  margin: 0 auto;
}
.introHome div p::before {
  content: '';
  display: block;
  width: 100px;
  height: 5px;
  margin: 20px auto;
  background: #fff;
}

/* Produtos */
.produtos {
  color: #000;
  text-align: center;
  padding: 80px;
}
.produtos h2 {
  position: relative;
}
.produtos h2::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 26px;
  background: #174B7F;
} 
.produtos img {
  width: 400px;
  margin: 60px auto;
}
.produtos .slidePrincipal {
  width: 530px;
}
.produtos .callToActtion {
  margin: 10px;
  position: relative;
}
.produtos .callToActtion a {
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}
.produtos .callToActtion a:hover {
  box-shadow: none;
  background: #174B7F;
  color: #fff;
}
.fotosProdutos div ul {
  margin: 40px 0;
}
.fotosProdutos div ul li{
  display: flex;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
}
.fotosProdutos img {
  margin: 40px auto;
  background-size: cover;
}
.fotosProdutos h3 {
  font-weight: bold;
  font-size: 2em;
  margin: 120px 0 20px 0px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.fotosProdutos h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background: #F7CF4B;
  margin: 10px auto 20px auto;
}
.fotosProdutos h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background: #F7CF4B;
  margin: 20px auto 10px auto;
}
/* Porque a empresa */
.porQueAEmpresa {
  background: url(../images/porqueAEmpresa/bgPorqueAEmpresa.svg);
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 60px;
}
.porQueAEmpresa ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.porQueAEmpresa ul li{
  width: 280px;
  margin: 60px;
}
.porQueAEmpresa img{
  margin: 0 auto;
  width: 300px;
  z-index: 1;
}
.porQueAEmpresa ul li h3 {
  margin: 20px 0;
}
.porQueAEmpresa ul li h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #F7CF4B;
  margin: 10px auto 20px auto;
}
.missaoVisao {
  width: 90%;
  text-align: left;
  margin: 80px auto;
}
.missaoVisao div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto;
}
.missaoVisao h3 {
  margin: 0px 0px 40px 0px;
}
.missaoVisao .infoLeft {
  width: 350px;
}
.missaoVisao .infoRight {
  width: 350px;
  height: 250px;
}
.contato {
  background: #3D6E8D;
  color: white;
  padding: 60px;
}
.contato div{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contato h3.titulo {
  text-align: center;
  margin: 0 0 20px 0;
}
.contato h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.contatoForm {
  align-self: center;
  width: 380px;
}
.contatoForm label{
  display: block;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', serif, sans-serif;
  line-height: 25px;
  margin-bottom: 4px;
}
.contatoForm input{
  display: block;
  width: 100%;
  border: 3px solid #fff;
  background: white;
  padding: 7px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contato .contatoDados {
  width: 270px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contato .contatoDados span{
  display: block;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contato .contatoDados ul li {
  display: inline-block;
  padding: 0 20px 0 0;
}
/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
  padding: 40px;
  width: 100%;
  background: #1d1d1d;
}
footer .sociais li{
  display: inline-block;
  margin: 10px 10px 0 0;
}
.tituloFooter {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}
.contatoFooter img {
  background-size: cover;
  width: 70px;
  margin: 0 auto;
}
.contatoFooter a {
  color: white;
  text-decoration: none;
}
.copyright {
  width: 100%;
  background: white;
  padding: 5px;
  color: #000;
  text-align: left;
}
/* MOBILE */
@media only screen and (max-width: 600px) {
  .introHome div h1 {
    font-size: 1.5em;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
  }
  .porQueAEmpresa ul::before {
   display: none;
  }
  .contato div.contatoDados {
    margin: 100px 0 0 0;
    width: 100%;
    padding: 0px;
  }
  .contatoDados h3:nth-of-type(1) {
    margin-bottom: 10px;
  }
  .contatoDados h3:nth-of-type(2) {
    margin-top: 40px;
  }
  .contatoDados ul{
    margin: 10px;
  }
}

/* TABLET */
@media only screen and (max-width: 900px) {
  .introHome div h1 {
    font-size: 1.5em;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
  }
  .produtosB {
    height: 450px;
    padding: 0px;
  }
  .porQueAEmpresa ul::before {
   display: none;
  }
  .contato div.contatoDados {
    margin: 100px 0 0 0;
    width: 380px;
    padding: 0px;
  }
  .contatoDados h3:nth-of-type(1) {
    margin-bottom: 10px;
  }
  .contatoDados h3:nth-of-type(2) {
    margin-top: 40px;
  }
  .contatoDados ul{
    margin: 10px;
  }
}


/* Slide Home */
[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

/* 6 CSS recomendado para a navegação */
[data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
[data-slide-nav] > button {
  display: inline-block;
  width: 12px;
  margin: 0px 4px 60px 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
[data-slide-nav] > button.active {
  background: #174B7F;
}

/* Formulario */

/*  Anti Spam */
input.naoAparece {
  visibility: hidden;
  position: absolute;
  width: 0px;
}
label.naoAparece {
  visibility: hidden;
  position: absolute;
  width: 0px;
}

/* Mensagem de envio */
#form-sucesso h2 {
  color: #31aa39;
  font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
}
#form-erro h2{
  color: #f64540;
  font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
}